<header class="navbar bavbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".app_name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".menu_home"), root_path %></li>
        <li><%= link_to t(".menu_help"), help_path %></li>
        <li><%= link_to t(".menu_log_in"), "#" %></li>
      </ul>
    </nav
  </div>
</header>
